@import 'utilities.css';
:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --turnery:#898989;
    --light:#F2F2F2;
    --secondary:#070606;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: violet; */
    font-family: 'Poppins', sans-serif;

}

html{
    scroll-behavior: smooth;
}
header{
    background-color:var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 89% 87%, 11% 87%, 0 100%);
}
section{
    padding-top: 0.8rem;
    margin-top: 0.5rem;
}
@media only screen and (max-width: 837px) {
    header{
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
    }
    .hero{
        flex-direction: column-reverse;
    }
}
.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}
@media (min-width: 576px){
    .container{
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
}
@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .container{
        max-width: 1152px;
    }
}
header nav .left a{
    color: var(--light);
    margin: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    transform: all .3s ease;
}
header nav .left a:hover{
    color: var(--primary);
    cursor: pointer;
}
header nav {
    padding: 2rem 0;
}
header nav .branding{
    margin-right: 3rem;
}
.hero{
    padding: 3rem 0;
}
.hero .right img{
    width: 300px;
    height: 450px;
    padding-left: 60px;
    padding-right: -100px;
}
.hero .left{
    color: var(--pure);
}
.hero .right h6{
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}
.hero .left{
    padding-top: 100px ;
}
.hero .left h1 span{
    color: green;
    font-weight: 500;
    cursor: pointer;
}
.hero .left{
    margin-top: -1rem;
}

/* aBOUT SECTION  */
section .about{
    padding: 6rem;
    background-color: var(--dark);
    clip-path: polygon(16% 0, 85% 0, 100% 19%, 100% 100%, 0 100%, 0 20%);
}
section .about .about-me-img{
    height: 450px;
}
section .about h1{
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--pure);
}
section .about h1 span{
    color: var(--primary);
}
section .about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
    color: var(--light);
}
secton .about p{
    color: var(--turnery);
    line-height: 1.9rem;
    margin-bottom: 2rem;
    color: var(--light);
}
section .about .container .social{
    display: flex;
}
section .about .container .social a{
    background-color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 0.6rem;
    transition: all 0.3 ease;
}
section .about .container .social a:hover{
    color: var(--primary);
}
section .about .container .social a img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}
.section-heading{
    color: var(--secondary);
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 4rem;
    line-height: 0.5;
}
.section-heading span{
    color: var(--primary);
}
.section-heading + p{
    color: var(--turnery);
    margin-bottom: 1rem;
    text-align: center;
}
section.services .card-wrapper{
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
}
section.services{
    background-color: var(--light);
}
section.services .card-wrapper .card{
    background-color: var(--turnery);
    padding: 3rem 2rem;
    position: relative;
    transition: all .3s ease-in;
}
section.services .card-wrapper .card:hover{
    background-color: var(--dark);
}
section.services .card-wrapper .card img{
    position: absolute;
    top: -3.4rem;
    transform: translateX(-50%);
}
section.services .card-wrapper .card h2{
    margin-top: 1.5rem;
    margin-left: 3rem;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}
section.services .card-wrapper .card p{
    margin-left: 2.3rem;
    color: var(--turnery);
    line-height: 1.6rem;
}
section.services .card-wrapper .card{
    margin-top: 3rem;
}
section.freelancer{
    text-align: center;
    margin-top: 4rem;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/images/camera.png);
    color: white;
    padding-bottom: 14rem;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 100% 99%, 86% 85%, 15% 85%, 0 100%, 0% 85%);
}
section.freelancer h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
    margin-top: 10rem

}
section.freelancer p{
    margin-bottom: 2rem;
}
section.review{
    /* height: 600px; */
}

section.review .slider .slide img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2rem;
}
section.review .slider .slide{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.6rem;
}
section.review .slider .slide p{
    color: var(--turnery);
    margin-bottom: 1rem;
}
section.review .slider .slide span{
    font-size: 0.8rem;
}
section.review .slider-dots .dots{
    list-style-type: none;
    display: flex!important;
    justify-content: center;
}
section.review .slider-dots{
    margin-top: 3rem;
}
section.review .slider-dots button{
    font-size: 0;
    width: 8px;
    height: 5px;
    margin-right: 0.3rem;
    border:none;
    outline: none;
    background: var(--turnery);
    border-radius: 50px;
    cursor: pointer;
}
section.review .dots li.slick-active button{
    background: var(--primary);
    width: 20px;
    transition: all .3s ease;
}
section.work{
    background: var(--light);
}
section.work .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
}
section.work .card-wrapper .card{
    position: relative;
    height: 250px;
}
section.work .card-wrapper .card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(61, 207, 211, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--light);
    opacity: 0;
    transition: all .9s ease;
}
section.work .card-wrapper .card .overlay:hover{
    opacity: 100%;
    cursor: pointer;
}
section.work .card-wrapper .card .overlay a{
    color: var(--secondary);
    text-decoration: none;
}
section.work .card-wrapper .card img{
    height: 100%;
    width: 100%;
}
section.blog{
    background: var(--dark);
    /* clip-path: polygon(0 0, 100% 0, 100% 85%, 100% 99%, 86% 85%, 15% 85%, 0 100%, 0% 85%); */
}
section.blog .container{
    color: var(--pure);
    margin-top: 2rem;
}
section.blog .container .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}
section.blog .container .card-wrapper .card{
    background: var(--secondary);
    border-radius: 10px;
    padding: 1.4rem;
}
section.blog .container .card-wrapper .card .img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section.blog .container .section-heading{
    margin-top: 5rem!important;
}
section.contact{
    /* height: 300px; */
}
section.contact .container .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    justify-content: center;
    align-items: center;
}
section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
}
section.contact .input-wrap input{
    border: 1px solid var(--turnery);
}
section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
}
section.contact .input-wrap-2 input{
    margin-bottom: 0.5rem;
}
section.contact .input-wrap-2 textarea{
    padding: 0.5rem;
    border: 1px solid var(--turnery);
}
section.contact input{
    padding: 0.5rem;
}
section.contact .form{
    margin: 4rem 0;
}
section.contact .form .new-btn{
    text-align: center;
    margin-top: 1.5rem;
}
footer.footer{
    background: var(--dark);
}
footer.footer .container .heading{
    text-align: center;
    padding-top: 4rem;
    color: var(--primary);
}
footer.footer .container .card-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}
footer.footer .container .card-wrapper .card img{
    margin-right: 2rem;
}
footer.footer .container p{
    color: var(--light);
    text-align: center;
    text-decoration: uppercase;
}

@media (max-width: 1024px){
    header #main-nav{
        display: none;
    }
}
.site-main-wrapper{
    position: relative;
}
.hamberger{
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 11;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}
.hamberger img{
    width: 30px;
}
.mobile-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: var(--light);
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 5rem;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
}
.open{
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
.times{
    position: fixed;
    top: 30px;
    right: 30px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
.times img{
    width: 30px;
}
.mobile-nav ul{
    list-style-type: none;
}
.mobile-nav ul li a{
    color: var(--secondary);
    text-decoration: none;
    font-size: 2rem;
}
@media (max-width: 1024px){
    header #main-nev{
        display: none;
    }
    .hamberger{
        display: block;
    }
    .hero .right img{
        width: 260px;
    }
    .hero .left h1{
        font-size: 3rem;
    }
    .hero{
        padding-top: 10rem;
    }
    .about{
        margin-top: 2rem;
    }
    section{
        padding: 2rem 0;
    }
    section.about .about-me-img{
        height: 360px;
    }
    section.services .card-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
    section.work .card-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
    section.blog .container .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 576px){
    /* .hero .left{
        position: absolute;
        top: 260px;
        padding: 0 1rem;
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9));
    }
    .hero .right{
        margin-top: -5rem;
        margin-right: -8rem;
        padding-bottom: 4rem;
    } */
    .about{
        margin-top: 2rem;
        /* background: var(--dark); */
    }
    .about-inner-wrap{
        flex-direction: column;
    }
    .about .right{
        text-align: center;
        margin-top: 2rem;
    }
    .about .right .social{
        justify-content: center;
    }
    section{
        padding: 4rem 0;
    }
    section.services .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    section.freelancer h1{
        line-height: 1.2;
    }
    section.freelancer{
        clip-path: polygon(0 6%, 100% 0, 100% 89%, 0% 100%);
        /* padding: 2rem 0; */
    }
    section.work .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    section.contact .container .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    section.contact .input-wrap{
        grid-template-columns: repeat(1, 1fr);
    }
}